* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #aa6373 !important;
}
:root {
  --primary-color: #aa6373;
  --secondary-color: #6b4e71;
  --accent-color: #19535f;
  --background-color: #2e1e2f;
  --text-color: #eacdc2;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes the buttons in WebKit browsers (Chrome, Safari) */
  margin: 0; /* Removes the margin around the buttons */
}

input[type="number"] {
  -moz-appearance: textfield; /* Hides buttons in Firefox */
}
p {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color) !important;
}
button {
  color: var(--text-color) !important;
}
.slot {
  height: 60vh;
  overflow: hidden;
}
.dialogue-message {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#slot-screen {
  position: relative;
  overflow: hidden;
  gap: 1em;
  border-style: solid;
  border-radius: 1em;
  width: 60vw;
}
ul {
  padding: 0 !important;
  list-style: none;
  margin-bottom: 0 !important;
  justify-items: center;
}
ul li {
  display: block;
  width: 100%;
  justify-items: center;
  border-style: solid;
}
@keyframes spin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
.reel img {
  display: block;
  height: 20vh;
  max-width: 100%;
}
.stopBtn {
  border-top: solid black !important;
  background-color: var(--accent-color) !important;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.btn-stop {
  border-top: solid;
  background-color: var(--accent-color) !important;
}
.stop-btn:hover {
  transition: 100ms;
  border-radius: 1em;
  cursor: pointer;
}
.stop-btn:active {
  background-color: rgba(166, 190, 190, 0.4);
}
.btn-start {
  display: inline-block;
  margin-top: 1em;
  background-color: var(--accent-color) !important;
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
  border-style: solid !important;
  border-radius: 1em !important;
  font-weight: bold !important;
}
.btn-start:hover {
  background-color: rgb(42, 48, 48);
  color: var(--text-color);
  border-color: var(--secondary-color) !important;
  transition: 100ms;
}
.btn-start:active {
  background-color: var(--text-color) !important;
  color: var(--primary-color) !important;
  border-color: var(--text-color) !important;
  border-radius: 10em;
  transition: 100ms;
  outline: none;
}
.btn-start:disabled {
  display: none;
}

.status-bar {
  width: 60vw;
  background-color: var(--secondary-color) !important;
}

.btn-activate {
  border: 2px solid var(--text-color) !important;
  margin-top: 1em;
  background-color: var(--accent-color) !important;
}
.btn-activate:disabled {
  display: none !important;
}
.status-bar {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.status-bar .shop-btn {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: var(--accent-color) !important;
}
.modal .product-card {
  padding: 1em;
  margin: 0.2em;
  border: solid var(--text-color) !important;
  border-radius: 0.4em;
}
.modal-content {
  background-color: var(--secondary-color) !important;
  border: solid var(--accent-color) !important;
}
@media (max-width: 599px) {
  .slot {
    height: 30vh;
    overflow: hidden;
    margin: auto;
    background-color: white;
  }
  .reel img {
    display: block;
    height: 10vh;
  }
}
